# Ignore downloaded datasets
CIFAR-10-Normal/
CIFAR-10-C/
Tiny-ImageNet-C/
Tiny-ImageNet-Normal/
*.tar
*.tar.gz
*.tgz
*.zip
*.gz
*.pt
*.pth
*.json

# Python cache and env files
__pycache__/
*.pyc
.env
.venv
*.ipynb_checkpoints
